html {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
  }
  
  body {
    background: radial-gradient(#0d1d31 0%, #0c0d13 100%);
    background-size: 100%;
    color: white;
    font-family: 'Courier', monospace;
  }

 .navigationbar {
    background-image: linear-gradient(#c7c7c7,white);
    overflow: hidden;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
   box-shadow: 0 5px 4px 0 rgba(255, 255, 255, 0.2), 0 3px 15px 0;
  }
  .navigationbar a {
    text-align: left;
    padding: 10px;
    text-decoration: none;
    font-size: 19px;
    color: black;
  }
  
  .navigationbar a:hover {
    opacity: 20px;
    background-color: #808080;
    
  }
  .navigationbar a.active {
    background-color: #011726;
    color: white;
  }
  
  header {
    margin-top: 10px;
    font-size: 50px;
    text-align: center;
    font-family: 'Courier', monospace;
  }
  
