html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

body {
  background: radial-gradient(#0d1d31 0%, #0c0d13 100%);
  background-size: 100%;
  color: white;
  font-family: 'Courier', monospace;
}

.navigationbar {
  background-image: linear-gradient(#c7c7c7, white);
  overflow: hidden;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 4px 0 rgba(255, 255, 255, 0.2), 0 3px 15px 0;
  transition-duration: 0.2s;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin: auto;
}

.navigationbar a {
  text-align: left;
  padding: 10px;
  text-decoration: none;
  font-size: 19px;
  color: black;
  transition-duration: 0.2s;
}

.navigationbar a:hover {
  opacity: 20px;
  background-color: #808080;

}

.navigationbar a.active {
  background-color: #011726;
  color: white;
}

header {
  margin-top: 10px;
  font-size: 50px;
  text-align: center;
  font-family: 'Courier', monospace;
  font-weight: bolder;
  padding: 100px;
}

button.Email {
  border-radius: 10px;
  padding: 10px;
  width: auto;
  height: auto;
  box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
  margin: 10px;
  text-align: center;
  

}

button.Email:hover {
  opacity: 30%;
  color: rgb(132, 132, 132);
  transform: scale(1.05);
  transition-duration: 0.2s;
}


button.Email:hover {
  transition-duration: 0.2s;
}

p {
  size: 8px;
  text-align: left;
}

.contactmehere {
  border: #ffffff;
  border-style: double;
  border-width: auto;
  border-radius: 10px;
  text-align: center;
  animation-name: floating;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin: auto;
  
  

}

.contactmehere {
  text-align: center;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(0, 7px);
  }

  100% {
    transform: translate(0, -0px);
  }
}

.allaboutme {
  border: #ffffff;
  border-style: solid;
  border-width: auto;
  border-radius: 10px;
  display: inline-block;
  box-sizing: border-box;
  overflow: hidden;
  padding: 10px;
}




